* {
	margin: 0;
	padding: 0;
}

.site-header {
	height: 45px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	border-bottom: 5px solid black;
	background: linear-gradient(to top, #000, #6a6 5px);
	z-index: 1;
}

.site-header > * {
	float: left;
	padding: 5px;
}

body {
	margin: 50px auto 0px auto;
	width: 900px;
}

.columns > * {
	display: table-cell;
}

.slim {
	max-width: 190px;
	min-width: 190px;
	padding: 0px 10px 0px 0px;
}

.wide {
	max-width: 490px;
	min-width: 490px;
	padding: 0px 10px 0px 0px;
}

.deck > :not(.selected) {
	display: none;
}

.media {
	display: block;
	margin: 0px 5px 20px 5px;
}

.media .heading {
	font-size: 1.2rem;
}

.media .content {
	margin-top: 5px;
}

.media.big .heading {
	font-size: 2rem;
}

.media.big .content {
	font-size: 1.2rem;
}

.media:not(:hover) .buttonditch .button {
	opacity: 0;
}

.media .buttonditch .button {
	float: left;
	font-size: 0.8rem;
	margin-right: 10px;
	padding: 0px 2px 0px 7px;
}

.button {
	display: block;
	font-variant: small-caps;
	opacity: 0.5;
	transition: opacity 0.2s;
	cursor: default;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.button:hover {
	opacity: 1;
}
:not(.buttonditch) > .button {
	padding: 10px;
}

.media.button {
	display: inline-block;
	max-width: 200px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.menu > * {
	display: block;
	padding: 5px 10px;
	overflow: hidden;
	height: 35px;
}

.menu > .button {
	height: auto;
}

.menu > .selected {
	
}


@media (max-width: 899px) {
	body {
		width: 700px;
		margin-left: 0;
	}
	.columns.medium-collapse > * {
		display: block;
	}
	.columns.medium-collapse > .slim {
		min-width: 360px;
		max-width: 500px;
	}
}

@media (max-width: 699px) {
	html {
		position: relative;
		min-width: 360px;
	}
	body {
		width: auto;
		padding-top: 0px;
	}
	.site-header {
		position: absolute;
	}
	.wide {
		min-width: 360px;
	}
	.small-dropdown {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 2;
		background: #fff;
		max-width: 150px;
		min-width: 150px;
		height: 45px;
		padding: 0px;
		border-left: 2px solid black;
		border-bottom: 2px solid black;
	}
	.small-dropdown:hover {
		padding: 50px 0 20px 0;
		height: auto;
	}
	.small-dropdown > .selected {
		position: absolute;
		top: 0px;
	}
	.small-dropdown > :not(.selected) {
		display: none;
	}
	.small-dropdown:hover > * {
		display: block;
	}
	.small-dropdown.menu > .selected {
		border-radius: 0;
		background: inherit;
	}
}